<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CtrlLogin</servlet-name>
        <servlet-class>Controller.CtrlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlEmpresa</servlet-name>
        <servlet-class>Controller.CtrlEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlEvaluacion</servlet-name>
        <servlet-class>Controller.CtrlEvaluacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlCompetencia</servlet-name>
        <servlet-class>Controller.CtrlCompetencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlPonderacion</servlet-name>
        <servlet-class>Controller.CtrlPonderacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlCargarExcelColaboradores</servlet-name>
        <servlet-class>Controller.CtrlCargarExcelColaboradores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlColaboradores</servlet-name>
        <servlet-class>Controller.CtrlColaboradores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlCuestionario</servlet-name>
        <servlet-class>Controller.CtrlCuestionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlArbolNavegacion</servlet-name>
        <servlet-class>Controller.CtrlArbolNavegacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrlLogin</servlet-name>
        <url-pattern>/CtrlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlEmpresa</servlet-name>
        <url-pattern>/CtrlEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlEvaluacion</servlet-name>
        <url-pattern>/CtrlEvaluacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlCompetencia</servlet-name>
        <url-pattern>/CtrlCompetencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlPonderacion</servlet-name>
        <url-pattern>/CtrlPonderacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlCargarExcelColaboradores</servlet-name>
        <url-pattern>/CtrlCargarExcelColaboradores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlColaboradores</servlet-name>
        <url-pattern>/CtrlColaboradores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlCuestionario</servlet-name>
        <url-pattern>/CtrlCuestionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlArbolNavegacion</servlet-name>
        <url-pattern>/CtrlArbolNavegacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
