/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/03/2024, 01:40:37 PM
    Author     : David
*/
.dvBtnCancelaEvaluacion{

    width: 100%;
    padding-left: 1%; padding-right: 1%;
    margin-top: -5%;
    /*     background:#f7f7f7;*/
    background: var(--colorFondoForm);

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.dvContEvaluacion{

    width: 100%;
    padding-left: 1%; padding-right: 1%;
    margin-top: 2%;
    /*     background:#f7f7f7;*/
    background: var(--colorFondoForm);

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.dvBtnAgregarQuitarCompetencia{

    width: 100%;

    background: var(--colorFondoForm);
    margin-top: -15%;

}
.btnCreaEvaluacion {
    width: 29%; /* Reducir el ancho */
    font-size: .7rem;
    font-family: 'Antonio-Bold';
    border: 1px solid #ffca2c; /* Asegúrate de especificar un estilo de borde */
    border-radius: 10px;
    padding: 1%;
    background: var(--amarilloBackground);
    color: white;
    margin-top: 1%;
    margin-left: 1%; 
    margin-right: 1%

}


.dvPonderacion{

    width: 100%;
    padding-left: 1%; padding-right: 1%;
    margin-top: 2%;
    /*     background:#f7f7f7;*/
    background: var(--colorFondoForm);

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}


/*para alertify*/
.ajs-dialog{
    background: white !important;
  /*verde para el body*/
}
.ajs-header{
    background: var(--amarilloBackground) !important;
    color: white;
    font-size: 1rem;
    font-family: 'Antonio-Bold';
  /*para el header*/
}
.ajs-footer{
    /*background: #fd3e0f !important;*/
     background: var(--colorFondoForm)!important;
    
  /*rojo para el footer*/
}
.alertify .ajs-footer .ajs-buttons .ajs-button{
    color:white;
  background: var(--amarilloBackground) !important;
  font-size: .7rem;
    font-family: 'Antonio-Regular';
}
/*.ajs-success {
  background: #fd3e0f !important;
}

.ajs-success {
  background: #fd3e0f !important;
}

.ajs-error{
  background: #1b1485 !important;
}*/
/*fin aleertify*/