#dvCuestionario{
    

 font-size: 1.2rem;
 font-family: 'Inter-Regular';  
 margin-left: 5%; /* Mueve todo el formulario hacia la derecha */





.options {
    display: flex;
    flex-wrap: wrap;
}

input[type="radio"] + label {
    display: inline-block;
    padding: 2px 10px;
    margin-right: 180px;
 }

input[type="radio"]:checked + label {
    background-color: #ffce2c;
    color: white;
    border-color: #ffce2c;
}

.TitulodePregunta{
    font-weight: bold;
}

}