body {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}
#tituloPrincipal{
    text-align:right;
    font-family: Arial;

}
.lineaDeTitulo{
    margin-top: -5%;
    color: orange;
    text-align:right;
}
.contenedor {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    width: 65%; 
}

.tabla {
    flex-grow: 1; 
}

.columnaderecha {
    width: 20%; 
    margin-left: 40px; 
    margin-top: 20%;
}

.moderna {
    margin:auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;

}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: lightgray; 
    color: black;
};

tr{

}

.tabla {
    margin-left: 0%;
    margin-top: 8%;
}

/* Estilos para cada celda */
.cRoja{
    background: red;
    color: white;
    font-weight: bold; 
}
.cNegra{
    background: black;
    color: white;
    font-weight: bold; 
}
.cVerde{
    background: #92d050;
    color: black;
    font-weight: bold; 
}
.cNaranja{
    background: orange;
    color: black;
    font-weight: bold; 
}
.cAmarilla{
    background: yellow;
    color: black;
    font-weight: bold; 
}
.cAzul{
    background: #00b0f0;
    color: white;
    font-weight: bold; 
}
.cRosa{
    background: #fce4d6;
    color: black;
    font-weight: bold; 
    text-align: left;
}
.cGris{
    background: lightgray;
    color: black;
    font-weight: bold; 
}

.cPrincipal{
    text-align: left;

}
.textoInferior{
    position:absolute; 
    top:60%; 
    right:1%;
    color: grey;
    width: 33%; 
    font-size: 1.1rem;

}
